/* Navbar chung */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .nav-item {
  margin-left: 20px;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1rem;
}

.navbar .nav-link:hover {
  color: #ddd;
}